body {
  padding:0;
  margin:0;
  text-align: center;
  font-family:'Open Sans', Arial, sans-serif;
  font-size:13px;
}

.header, .footer, .cards {
  max-width:900px;
  text-align:left;
}





.footer__partner {
  width:15%;
  padding:0 1% 0 1%:
  display:block;
  float:left;
}

